.fa-map-marker-alt:before {
  content: "\f3c5";
  font-size: 25px; }

* {
  scroll-behavior: smooth; }

body {
  margin: 0 auto;
  background: #9fb7b9 !important; }

header {
  border-bottom: solid 1px white; }

h3 {
  margin: 0; }

h5 {
  margin: 0;
  text-align: center;
  padding-top: 8%;
  color: aliceblue;
  font-family: 'Ubuntu', sans-serif;
  font-size: 2.5em; }

h6 {
  position: absolute;
  background: #011627;
  color: white;
  padding: 10px 20px; }

p {
  font-family: 'Quicksand', sans-serif;
  font-size: 0.95em;
  margin: 0; }

ul {
  padding: 0; }

li {
  list-style: none;
  text-align: center;
  padding-bottom: 10px; }

.icon-nav {
  position: fixed;
  top: 65%;
  transform: translateY(-100%); }
  .icon-nav a {
    display: block;
    text-align: center;
    padding: 16px;
    transition: all 0.3s ease;
    color: white;
    font-size: 20px; }
  .icon-nav a:hover {
    background-color: #011627;
    color: beige; }

.homeImg {
  background-image: url(../img/home/home-4.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: 50%; }

.title {
  position: absolute;
  bottom: 50px;
  left: 80px; }

.myName {
  font-family: 'Montserrat', sans-serif;
  font-size: 4em;
  color: #011627;
  margin-bottom: 0; }

.quote {
  font-family: 'Open Sans', sans-serif;
  font-size: 1.3em;
  color: #011627;
  margin-top: 0; }

.about,
.education,
.skills {
  background: white;
  color: #011627;
  box-shadow: rgba(88, 88, 88, 0.44) 0px 1px 4px 2px; }

.skills-heading,
.skills-body,
.projects-heading {
  text-align: center; }

.skills-body {
  padding: 20px; }

.cube-heading,
.skills-heading,
.projects-heading {
  background: #011627;
  color: white;
  padding: 20px 15px; }

.box-body {
  padding: 20px 10px; }

.fa-html5,
.fa-css3-alt,
.fa-sass,
.fa-js,
.fa-git-square {
  font-size: 32px; }

.cube-heading-title {
  font-family: 'Prompt', sans-serif;
  font-size: 1em; }

.project-1 {
  background: url(../img/home/home-3.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.project-2 {
  background: url(../img/home/home-2.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.project-3 {
  background: url(../img/home/home-3.jpg);
  background-size: cover;
  background-repeat: no-repeat; }

.text-container {
  position: relative; }

.parallax-contact {
  background: url(../img/contact.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  height: 40vh; }

.contact-info {
  text-align: center;
  background: white;
  color: #011627;
  box-shadow: rgba(88, 88, 88, 0.44) 0px 1px 4px 2px; }

.location {
  background: #011627;
  color: white;
  padding: 20px 0; }

.exact-location {
  padding: 15px 0; }

.detail-left {
  padding: 20px 0;
  border-bottom: solid #9fb7b954 1px; }

.detail-right {
  padding: 10px 0;
  border-bottom: solid #9fb7b954 1px; }

.main-footer {
  background: #011627;
  color: white;
  padding: 10px 20px;
  text-align: center; }

.grid-content {
  display: grid;
  /* grid-gap: 10px; */
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto auto 75px;
  grid-template-areas: "header     header      header      header      header" "main       main        main        main        main" "aside-1    aside-1     aside-1     aside-1     aside-1" "footer     footer      footer      footer      footer"; }

header {
  grid-area: header; }

main {
  grid-area: main; }

.contct {
  grid-area: aside-1; }

footer {
  grid-area: footer; }

.grid-header {
  display: grid;
  grid-gap: 0;
  margin-left: 3.2em;
  grid-template-columns: auto auto;
  height: 100vh;
  grid-template-areas: "heading   photo"; }

.homeImg {
  grid-area: photo; }

.title {
  grid-area: heading; }

.grid-2 {
  display: grid;
  grid-gap: 13px;
  padding: 40px 180px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: auto auto;
  grid-template-areas: "section-1  section-1   section-1   section-1   aside-2" "article    article     article     article     aside-2" "section-2  section-2   section-2   section-2   section-2"; }

.about {
  grid-area: section-1; }

.education {
  grid-area: article; }

.skills {
  grid-area: aside-2; }

.projects {
  grid-area: section-2; }

.grid-projects {
  display: grid;
  grid-template-columns: auto auto auto;
  height: 35vh; }

/* -------------------------------------------------------------------------------- */
.contact-info-container {
  display: grid;
  grid-gap: 0;
  margin: 40px 180px;
  grid-template-columns: repeat(3, 1fr); }

.details-container-left,
.details-container-right {
  display: grid;
  grid-gap: 0;
  margin: 0;
  padding: 0; }

.details-container-left {
  grid-template-rows: repeat(2, 1fr); }

.details-container-right {
  grid-template-rows: repeat(3, 1fr); }

@media screen and (max-width: 1200px) {
  .myName {
    font-size: 3em; }

  .quote {
    font-size: 1em; }

  .grid-2 {
    grid-gap: 10px;
    padding: 50px 110px; }

  .contact-info-container {
    display: grid;
    grid-gap: 0;
    margin: 50px 110px;
    grid-template-columns: repeat(3, 1fr); }

  .details-on-side {
    padding: 35px 25px; }

  .location {
    padding: 25px; } }
@media screen and (max-width: 768px) {
  body {
    background: beige !important; }

  .grid-header {
    display: grid;
    grid-gap: 0;
    grid-template-columns: auto;
    height: 100vh;
    margin-left: 0;
    grid-template-areas: "home"; }

  .icon-nav {
    position: fixed;
    top: 70%;
    transform: translateY(-100%); }
    .icon-nav a {
      display: block;
      text-align: center;
      padding: 10px;
      margin: 10px;
      transition: all 0.3s ease;
      border-radius: 100%;
      background: #ede7b196;
      color: black;
      font-size: 16px; }
    .icon-nav a:hover {
      background-color: #540B0E;
      color: beige; }

  .homeImg {
    grid-area: home;
    background-image: url(../img/home/tablet_home-1.jpg);
    background-size: cover;
    background-repeat: no-repeat; }

  .title {
    grid-area: home;
    height: 20vh;
    width: 75%;
    padding: 0 20px;
    background: #EDE7B1;
    border-radius: .45em;
    border-bottom-right-radius: 0;
    font-family: 'Montserrat', sans-serif;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }

  .myName {
    font-size: 2em;
    text-align: center;
    color: #540B0E; }

  .quote {
    font-size: .8em;
    text-align: center;
    color: #540B0E; }

  .grid-2 {
    display: grid;
    grid-gap: 10px;
    padding: 50px 80px;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto auto auto;
    grid-template-areas: "section-1 section-1" "aside-2 aside-2" "article article" "section-2 section-2"; }

  .grid-projects {
    height: 25vh; }

  ul {
    display: inline-flex;
    padding: 0; }

  li {
    font-size: 2em;
    margin: 0 16px; }

  .about,
  .education,
  .skills {
    background: #EDE7B1;
    color: #540B0E;
    box-shadow: rgba(88, 88, 88, 0.44) 0px 1px 4px 2px; }

  .skills-heading,
  .skills-body,
  .projects-heading {
    text-align: center; }

  .skills-body {
    padding: 20px; }

  .cube-heading,
  .skills-heading,
  .projects-heading {
    background: #540B0E;
    color: #EDE7B1;
    padding: 20px 15px; }

  .box-body {
    padding: 10px; }

  .fa-html5,
  .fa-css3-alt,
  .fa-sass,
  .fa-js,
  .fa-git-square {
    font-size: 32px; }

  .parallax-contact {
    background: url(../img/tablet_contact.jpg);
    height: 30vh; }

  h5 {
    color: black;
    text-shadow: white 1px 1px 9px; }

  .contact-info-container {
    display: grid;
    grid-gap: 0;
    margin: 50px 80px;
    grid-template-columns: repeat(3, 1fr); }

  .details-on-side {
    padding: 30px 0px;
    font-size: .9em;
    background: #EDE7B1;
    color: #540B0E; }

  .location {
    padding: 25px 0;
    font-size: .9em;
    background: #540B0E;
    color: #EDE7B1; }

  .main-footer {
    background: #540B0E;
    color: white;
    padding: 10px 20px;
    text-align: center; } }
@media screen and (max-width: 500px) {
  .icon-nav {
    width: 100%;
    overflow: auto;
    top: 8%; }
    .icon-nav a {
      float: left;
      width: 20%;
      border-radius: 0;
      margin: 0;
      padding: 12px 0;
      background: #ede7b1; }

  .contact-info-container {
    display: grid;
    grid-gap: 0;
    margin: 50px 80px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr); } }
@media screen and (max-width: 426px) {
  .icon-nav a {
    background: #ede7b1e8; }

  .homeImg {
    background-image: url(../img/home/mobile_home_2.jpg);
    background-size: cover;
    background-repeat: no-repeat; }

  .myName {
    font-size: 1em; }

  .quote {
    font-size: .46em; }

  .title {
    background: #ede7b1e8;
    height: 10vh;
    width: 60%; }

  .grid-2 {
    grid-gap: 20px;
    padding: 50px 5px; } }

/*# sourceMappingURL=main.css.map */
