// Base Styles
* {
    scroll-behavior: smooth;
}

body {
    margin: 0 auto;
    background: #9fb7b9!important;
}

header {
    border-bottom: solid 1px white;
}

h3 {
    margin: 0;
}

h5 {
    margin: 0;
    text-align: center;
    padding-top: 8%;
    color: aliceblue;
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5em;
}


h6 {
    position: absolute;
    background: #011627;
    color: white;
    padding: 10px 20px;
}

p {
    font-family: 'Quicksand', sans-serif;
    font-size: 0.95em;

    margin: 0;
}

ul {
    padding: 0;
}

li {
    list-style: none;
    text-align: center;
    padding-bottom: 10px;
}