// Home Image
.home-rightSection {
    background-image: url(../img/home/home-4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: 50%;
}

// Title section
.title {
    position: absolute;
    bottom: 50px;
    left: 80px;
}